.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__img {
  width: 100%;
}
